@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,100&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

:root {
  --black: #1c1c15;
  --shadow: rgb(38 84 49 / 65%);
  --background: #282c34;
  --white: #eeeeee;
  --yellow: #fbab1d;
  --grey: #3b7080;
  --darkGrey: #040711;
  --pink: #f06490;
  --blue: #1087ae;
  --purple: #795ba7;
}

html {
  background-color: var(--background);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--yellow);
  background: var(--black);
}

::selection {
  color: var(--yellow);
  background: var(--black);
}
